<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
   <meta charset="utf-8">
   <title>Airbnb Demand Heatmap</title>
   <link rel="stylesheet" type="text/css" href="/stylesheets/map.css" />
   
      <script 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaRhsRQkhhxBNljnMeO3YDaLdc7xSkuAc&libraries=visualization">
    </script>
    <script> 
      var weightedLocations = <%- JSON.stringify(weightedLocations) %>;
      var locationStr = '<%= locationStr %>';
      console.log(mapCenter);
      console.log(locationStr);
   </script>
      <script async defer src="/js/index.js"></script>

</head>

<body>

<% include ../partials/nav.ejs %>
    <div id="map"></div>
<div id="floating-panel">
      <button onclick="toggleHeatmap()">Toggle Heatmap</button>
      <button onclick="changeGradient()">Change gradient</button>
      <button onclick="changeRadius()">Change radius</button>
      <button onclick="changeOpacity()">Change opacity</button>
      <button onclick="showMarkers(weightedLocations)">Show Markers</button> 
      <button onclick="window.location.href='/'""><strong>Another Random City</strong></button>
    </div>
</body>
</html>
